<div class="admin__container">

  <%= render partial: 'admin/shared/admin_sidebar' %>

  <main class="admin__active">
    <section class="archived-campaigns" id="archived-campaigns">
      <div class="archived-campaigns__title">Archived Campaigns</div>
      <table class="archived-campaigns__table">
        <thead >
        <tr>
          <th class="archived-campaigns__table-header"></th>
          <th class="archived-campaigns__table-header">Category</th>
          <th class="archived-campaigns__table-header">Campaign Name</th>
          <th class="archived-campaigns__table-header">Recipients</th>
          <th class="archived-campaigns__table-header"># of notifications sent in Campaign</th>
          <th class="archived-campaigns__table-header">Time Stamp</th>
          <th class="archived-campaigns__table-header">Show</th>
        </tr>
        </thead>
        <tbody>
        <% @campaigns.each do |campaign| %>
            <% alerts = campaign.alerts %>
            <tr>
              <td class="active-campaigns__table-item-color"></td>
              <td class="active-campaigns__table-item">
                <%= to_human_readable(alerts.last.severity) unless alerts.empty? %>
              </td>
              <td class="active-campaigns__table-item">
                <%= campaign.name.capitalize %>
              </td>
              <td class="active-campaigns__table-item">
                <%= to_human_readable(alerts.last.received_total) unless alerts.empty? %>
              </td>
              <td class="active-campaigns__table-item">
                <%= to_human_readable(alerts.count) unless alerts.empty? %>
              </td>
              <td class="archived-campaigns__table-item">
                <%= campaign.formatted_date %>
              </td>
              <td class="archived-campaigns__table-item">
                <%= link_to "show", admin_campaign_path(campaign.id), method: :get %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>

    </section>

  </main>

</div>
