<%= render partial: 'admin/shared/admin_sidebar' %>

<%= form_for [:admin, Campaign.new] do |f| %>
  <%= f.select :category, options: Campaign.categories %>

  <%= f.submit "create campaign" %>
<% end %>

<h2>Active Campaigns</h2>

<ul id="active-campaigns">
  <% @campaigns.where(archived: false).each do |campaign| %>
    <li>
      <%= campaign.category.capitalize + ", " + campaign.formatted_date %>
      <%= button_to "create alert", new_admin_campaign_alert_path(campaign.id), method: :get %>
      <%= button_to "show", admin_campaign_path(campaign.id), method: :get %>
      <%= button_to "end campaign", admin_campaign_path(campaign.id), method: :delete %>
    </li>
  <% end %>
</ul>

<h2>Archived Campaigns</h2>

<ul id="archived-campaigns">
  <% @campaigns.where(archived: true).each do |campaign| %>
      <li>
        <%= campaign.category.capitalize + ", " + campaign.formatted_date %>
        <%= button_to "create alert", new_admin_campaign_alert_path(campaign.id), method: :get %>
        <%= button_to "show", admin_campaign_path(campaign.id), method: :get %>
      </li>
  <% end %>
</ul>
