<div class="admin__container">

  <%= render partial: 'admin/shared/admin_sidebar' %>

  <main class="active-campaigns">

    <div class="active-campaigns__title">Active Campaigns</div>
    <%= button_to "Create New Campaign", new_admin_campaign_path, method: :get, class: "usa-button-primary" %>

    <ul id="active-campaigns">
      <% @campaigns.where(archived: false).each do |campaign| %>
          <li>
            <%= to_human_readable(campaign.alerts.last.severity) unless campaign.alerts.empty? %>
            <%= campaign.name.capitalize + ", " + campaign.formatted_date %>
            <%= button_to "create alert", new_admin_campaign_alert_path(campaign.id), method: :get %>
            <%= button_to "show", admin_campaign_path(campaign.id), method: :get %>
            <%= button_to "end campaign", admin_campaign_path(campaign.id), method: :delete %>
          </li>
      <% end %>
    </ul>

    <h2>Archived Campaigns</h2>

    <ul id="archived-campaigns">
      <% @campaigns.where(archived: true).each do |campaign| %>
          <li>
            <%= campaign.name.capitalize + ", " + campaign.formatted_date %>
            <%= button_to "create alert", new_admin_campaign_alert_path(campaign.id), method: :get %>
            <%= button_to "show", admin_campaign_path(campaign.id), method: :get %>
          </li>
      <% end %>
    </ul>


  </main>

</div>
