<h1><%= @campaign.formatted_date %></h1>

<%= button_to "end campaign", admin_campaign_path(@campaign.id), method: :delete %>

<h2>Alerts:</h2>

<ul>
    <% @campaign.alerts.each do |alert| %>
        <li>
          <%= alert.description + ", " + to_human_readable(alert.severity) %>
          <h3>Recipient Analytics</h3>
          <p><%= "Total Recipients: " + alert.received_total.to_s %></p>
          <p><%= "Confirmed: " + alert.opened_total.to_s %></p>
          <p><%= "Not Confirmed: " + (alert.received_total - alert.opened_total).to_s %></p>
        </li>
    <% end %>
</ul>