<h1>Create Alert for campaign  <%= @campaign.name.capitalize + ", " + @campaign.formatted_date %></h1>

<div class="admin__container">

  <%= render partial: 'admin/shared/admin_sidebar' %>

  <main class="admin__add-alert">

    <section class="add-alert">

      <div class="add-alert__title">
        Create Alert for <%= @campaign.name.capitalize %>
      </div>

      <%= form_for [:admin, @campaign, @alert] do |f| %>
        <%= render partial: 'admin/shared/alert_form', :locals => {:form => f} %>
        <%= f.submit "Send Notification" %>
      <% end %>

    </section>

  </main>

</div>
