<!DOCTYPE html>
<html>
  <head>
    <title>Shiny Fawn</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag "application", media: 'all' %>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://js.arcgis.com/4.2/esri/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/swagger-ui/2.2.10/css/screen.css" />
    <script src="https://js.arcgis.com/4.2/"></script>
  </head>

  <body>
    <div class="navbar">
      <%= link_to root_path do %>
          <div class="navbar__logo">
          </div>
          <div class="navbar__title">
            Emergency Alert System
          </div>
      <% end %>

      <% if current_user %>
        <%= button_to "Log Out", destroy_user_session_path, method: :delete, style: "float: right" %>
      <% end %>
    </div>

    <div><%= flash[:alert] %></div>
    <div><%= flash[:notice] %></div>
  <%= yield %>
  </body>
</html>
