<div class="signup-page__container">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), validate: true) do |f| %>

      <div class="signup-page" id="signup-page-1" data-pagenumber="1">
        <div class="signup-page__progress-bar">
          <div class="signup-page__icon-1-active"></div>
          <div class="signup-page__icon-2"></div>
          <div class="signup-page__icon-3"></div>
          <div class="signup-page__icon-4"></div>
          <div class="signup-page__icon-5"></div>

          <div class="signup-page__icon-7"></div>
        </div>

        <%= devise_error_messages! %>

        <div class="signup-page__title">
          Can we call you by name?
        </div>

        <div class="signup-page__box-area">
          <div class="signup-page__label">
            <%= f.label :first_name, class: "signup-page__label-title" %>
            <div class="signup-page__label-required">Required</div>
          </div>
          <%= f.text_field :first_name, autofocus: true, class: "signup-page__input" %>
        </div>

        <div class="signup-page__box-area">
          <div class="signup-page__label">
            <%= f.label :last_name, class: "signup-page__label-title" %>
            <div class="signup-page__label-required">Required</div>
          </div>
          <%= f.text_field :last_name, class: "signup-page__input" %>
        </div>

        <button id="signup-page__next-button" class="signup-page__next-button usa-button-primary">Next</button>

      </div>

      <div class="signup-page" id="signup-page-2" data-pagenumber="2">
        <div class="signup-page__progress-bar">
          <div class="signup-page__icon-1"></div>
          <div class="signup-page__icon-2-active"></div>
          <div class="signup-page__icon-3"></div>
          <div class="signup-page__icon-4"></div>
          <div class="signup-page__icon-5"></div>

          <div class="signup-page__icon-7"></div>
        </div>

        <div class="signup-page__title">
          <p>Hey, <span id="signup-page__user-greeting">Brenda</span></p>
        </div>

        <div class="signup-page__box-area">
          <div class="signup-page__label">
            <%= f.label :password, class: "signup-page__label-title" %>
            <div class="signup-page__label-required">Required</div>
          </div>
          <%= f.password_field :password, autocomplete: "off", class: "signup-page__input" %>
        </div>

        <div class="signup-page__box-area">
          <div class="signup-page__label">
            <%= f.label :password_confirmation, class: "signup-page__label-title" %>
            <div class="signup-page__label-required">Required</div>
          </div>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "signup-page__input" %>
        </div>

        <div class="signup-page__box-buttons">
          <button id="signup-page__back-button" class="signup-page__back-button usa-button-primary">Back</button>
          <button id="signup-page__next-button" class="signup-page__next-button usa-button-primary">Next</button>

        </div>

      </div>

      <div class="signup-page" id="signup-page-3" data-pagenumber="3">
        <div class="signup-page__progress-bar">
          <div class="signup-page__icon-1"></div>
          <div class="signup-page__icon-2"></div>
          <div class="signup-page__icon-3-active"></div>
          <div class="signup-page__icon-4"></div>
          <div class="signup-page__icon-5"></div>

          <div class="signup-page__icon-7"></div>
        </div>


        <div class="signup-page__title">
          We'll need your email.
        </div>

        <div class="signup-page__box-area">
          <div class="signup-page__label">
            <%= f.label :email, class: "signup-page__label-title" %>
            <div class="signup-page__label-required">Required</div>
          </div>
          <%= f.text_field :email, class: "signup-page__input" %>
        </div>

        <div class="signup-page__box-buttons">
          <button id="signup-page__back-button" class="signup-page__back-button usa-button-primary">Back</button>
          <button id="signup-page__next-button" class="signup-page__next-button usa-button-primary">Next</button>
        </div>


      </div>

      <div class="signup-page" id="signup-page-4" data-pagenumber="4">
        <div class="signup-page__progress-bar">
          <div class="signup-page__icon-1"></div>
          <div class="signup-page__icon-2"></div>
          <div class="signup-page__icon-3"></div>
          <div class="signup-page__icon-4-active"></div>
          <div class="signup-page__icon-5"></div>

          <div class="signup-page__icon-7"></div>
        </div>

        <div class="signup-page__title">
          And your digits too, please.
        </div>

        <div class="signup-page__details">
          We will use this phone number to send SMS based alerts, but only if its relevant to you.
        </div>

        <div class="signup-page__box-area">
          <div class="signup-page__label">
            <%= f.label :phone, class: "signup-page__label-title" %>
            <div class="signup-page__label-required">Required</div>
          </div>
          <%= f.telephone_field :phone, class: "signup-page__input", maxlength: 10 %>
        </div>

        <div class="signup-page__box-buttons">
          <button id="signup-page__back-button" class="signup-page__back-button usa-button-primary">Back</button>
          <button id="signup-page__next-button" class="signup-page__next-button usa-button-primary">Next</button>
        </div>

      </div>

      <div class="signup-page" id="signup-page-5" data-pagenumber="5">
        <div class="signup-page__progress-bar">
          <div class="signup-page__icon-1"></div>
          <div class="signup-page__icon-2"></div>
          <div class="signup-page__icon-3"></div>
          <div class="signup-page__icon-4"></div>
          <div class="signup-page__icon-5-active"></div>

          <div class="signup-page__icon-7"></div>
        </div>

        <div class="signup-page__title">
          Home, Sweet Home.
        </div>

        <div class="signup-page__details">
          What is your home address? We want to make sure it is safe from anything that can damage it.
        </div>

        <div class="signup-page__box-area">
          <div class="signup-page__label">
            <%= label_tag :address, nil, class: "signup-page__label-title" %>
            <div class="signup-page__label-required">Required</div>
          </div>
          <%= text_field_tag :address, "", id: "autocomplete", onFocus: "geolocate()" %>
        </div>

        <table id="address" class="signup-address-table">
          <tr>
            <td class="label">Street address</td>
            <td class="slimField"><input class="field" name="street" id="street_number"></input></td>
            <td class="wideField" colspan="2"><input class="field" name="route" id="route"></input></td>
          </tr>
          <tr>
            <td class="label">City</td>
            <td class="wideField" colspan="3"><input class="field" name="city" id="locality"></input></td>
          </tr>
          <tr>
            <td class="label">State</td>
            <td class="slimField"><input class="field" name="state" id="administrative_area_level_1"></input></td>
            <td class="label">Zip code</td>
            <td class="wideField"><input class="field" name="zipcode" id="postal_code"></input></td>
          </tr>
          <tr>
            <td class="label">Country</td>
            <td class="wideField" colspan="3"><input class="field" id="country"></input></td>
          </tr>
        </table>

        <div class="signup-page__box-buttons">
          <button id="signup-page__back-button" class="signup-page__back-button usa-button-primary">Back</button>
          <button id="signup-page__next-button" class="signup-page__next-button usa-button-primary">Next</button>
        </div>

      </div>

      <div class="signup-page" id="signup-page-6" data-pagenumber="6">
        <div class="signup-page__progress-bar">
          <div class="signup-page__icon-1"></div>
          <div class="signup-page__icon-2"></div>
          <div class="signup-page__icon-3"></div>
          <div class="signup-page__icon-4"></div>
          <div class="signup-page__icon-5"></div>

          <div class="signup-page__icon-7-active"></div>
        </div>

        <div class="signup-page__title">
          This is really, really important
        </div>

        <div class="signup-page__details">
          <p>
            When you get an alert, there will always be a link for more details.
            <b>Please, Please, Please, click this link</b> to get the details. This helps us know how many people are
            aware of the event, which helps to inform our next steps. Clicking the link helps both of us.
          </p>

          <p><b>Let's practice this.</b></p>

          <p>To complete your sign up, we will send you an SMS with a link. Click the link just like you would if it was
            a real alert.</p>


          <div class="signup-page__terms">
              <p>
                The SMS verification also serves as your agreement to receive future notifications
              </p>


              <%= link_to "See terms and conditions", terms_path, class: "signup-page__terms-link" %>
          </div>

        </div>

        <div class="signup-page__box-buttons">
          <button id="signup-page__back-button" class="signup-page__back-button usa-button-primary">Back</button>
          <%= f.submit "Sign up", class: "signup-page__submit-button usa-button-primary", id: "signup-page__submit-button" %>
        </div>
      </div>

  <% end %>
</div>

<script>
    // This example displays an address form, using the autocomplete feature
    // of the Google Places API to help users fill in the information.

    // This example requires the Places library. Include the libraries=places
    // parameter when you first load the API. For example:
    // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

    var placeSearch, autocomplete;
    var componentForm = {
        street_number: 'short_name',
        route: 'long_name',
        locality: 'long_name',
        administrative_area_level_1: 'short_name',
        country: 'long_name',
        postal_code: 'short_name'
    };

    function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        autocomplete = new google.maps.places.Autocomplete(
                /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
                {types: ['geocode']});

        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        autocomplete.addListener('place_changed', fillInAddress);
    }

    function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();

        for (var component in componentForm) {
            document.getElementById(component).value = '';
            document.getElementById(component).disabled = false;
        }

        // Get each component of the address from the place details
        // and fill the corresponding field on the form.
        for (var i = 0; i < place.address_components.length; i++) {
            var addressType = place.address_components[i].types[0];
            if (componentForm[addressType]) {
                var val = place.address_components[i][componentForm[addressType]];
                document.getElementById(addressType).value = val;
            }
        }
    }

    // Bias the autocomplete object to the user's geographical location,
    // as supplied by the browser's 'navigator.geolocation' object.
    function geolocate() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var geolocation = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                var circle = new google.maps.Circle({
                    center: geolocation,
                    radius: position.coords.accuracy
                });
                autocomplete.setBounds(circle.getBounds());
            });
        }
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAPS_KEY"] %>&libraries=places&callback=initAutocomplete" async defer></script>

<div id="signup-marker"></div>
